{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Commerce Bulk Pricing plugin for Craft CMS
 *
 * CommerceBulkPricingField Field Settings
 *
 * @author    Kurious Agency
 * @copyright Copyright (c) 2019 Kurious Agency
 * @link      https://kurious.agency
 * @package   CommerceBulkPricing
 * @since     1.0.0
 */
#}


{% import '_includes/forms' as forms %}

{{ columnsField|raw }}

{% set options = [] %}
{% for group in craft.app.userGroups.getAllGroups() %}
	{% set options = options|merge([{label:group.name, value:group.id}]) %}
{% endfor %}

<div class="field">
	<div class="heading">
		<label>User Groups</label>
		<div class="instructions"><p>Select the user groups that the Bulk pricing will be applied to.</p></div>
	</div>
	<div class="input ltr">
	{{ forms.checkboxGroup({
		label: 'User Groups',
		name: 'userGroups',
		options: options,
		values: field.userGroups,
	}) }}
	</div>
</div>

<div class="field">
	<div class="heading">
		<label>Price include tax</label>
		<div class="instructions"><p>Do the prices include tax?</p></div>
	</div>
	<div class="input ltr">
	{{ forms.lightswitch({
		name: 'taxIncluded',
		on: field.taxIncluded
	}) }}
	</div>
</div>